body{
    background-color: rgb(231, 231, 231);
}
.red{
    color: brown;
}
#table-2{
    position: absolute;
    top: 94px;
    left: 350px;
}
#table-3{
    position: absolute;
    top: 400px ;
    left: 350px;
}
#h2c{
    color: brown;
}